
    <br>
      <%= form_for(@book) do |f| %>
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %><br><br>
        <%= f.text_field :title, class: "form-control" %>
      </div><br>
      <div class="field">
        <%= f.label :author %><br><br>
        <%= f.text_field :author, class: "form-control" %>
      </div><br>
      <div class="field">
        <%= f.label :resume %><br><br>
        <%= f.text_area :resume, class: "form-control" %>
      </div><br>

    <br>
      <% if user_signed_in? %>
        <div class="actions text-center">
          <%= f.submit 'New book',class:'btn btn-success btn-mg' %>
        </div>
      <% else %>
        <div class="actions text-center">
          <%= link_to "New book", new_user_session_path, class:'btn btn-success btn-mg'  %>
        </div>
      <% end %>

  <% end %>
